source "../modules/drivers/hwmon/Kconfig"
source "../modules/drivers/modem_control/Kconfig"
source "../modules/drivers/misc/Kconfig"
source "../modules/drivers/input/Kconfig"
source "../modules/drivers/leds/Kconfig"

