config TOUCHSCREEN_ATMEL_MXT224
	tristate "ATMEL mXT224 touchscreen"
	depends on I2C
	default n
	help
		Say Y here if you have a mXT224 touchscreen
		If unsure, say N.

config TOUCHSCREEN_ATMEL_MXT1664S
	tristate "Atmel mXT 1664S I2C Touchscreen"
	depends on I2C
	help
	  Say Y here if you have Atmel mXT series I2C touchscreen,
	  ATMXT1664S, connected to your system.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called atmel_mxt_1664S.
