config SENSORS_L3G4200D_POLL
	tristate "Polling based STMicroeletronics L3G4200D three-axis angular rate sensor"
	depends on I2C && INPUT
	default y
	help
	   A polling based L3G4200D gyroscope sensor driver. Support retrieving
	   gyro data with specified polling intervals in milliseconds. Suitable
	   for low precision but easy use requirements such as for Android integration.
           Say Yes here to enable it.

	   This driver can also be built as a module. If so, the module
	   will be called l3g4200d_poll.
