config SENSORS_L3G4200D_POLL
	tristate "Polling based STMicroeletronics L3G4200D three-axis angular rate sensor"
	depends on I2C && INPUT
	default y
	help
	   A polling based L3G4200D gyroscope sensor driver. Support retrieving
	   gyro data with specified polling intervals in milliseconds. Suitable
	   for low precision but easy use requirements such as for Android integration.
           Say Yes here to enable it.

	   This driver can also be built as a module. If so, the module
	   will be called l3g4200d_poll.

config SENSORS_LPS331AP
	tristate "LPS331AP pressure sensor Driver"
	depends on I2C && INPUT
	default y
	help
	   Say yes here to enable LPS331AP pressure sensor driver

	   Pressure sensor LPS331AP from STMicroelectronics
	   please search on
	   http://www.st.com/ for more details.

	   This driver can also be built as a module. If so, the module
	   will be called lps331ap.
