#
# Modem Control Driver.
# Perform power on/reset/power off on IMC modems
#

config MDM_CTRL_HW736
	tristate "Modem control driver HW736"
	default y
	---help---
	  The modem control driver for HW736 modems. This driver will perform any
	  power request on IMC modems. It will create /dev/mdm_ctrl char device
	  by default.
	  Verified for XMM6260, XMM7160, XMM6360 and XMM 6263 modems.

config MDM_CTRL_DEV_NAME
	string "Boot driver device name"
	depends on MDM_CTRL_HW736
	default "mdm_ctrl"
	---help---
	  Sets the name for the modem control driver device.

	  If unsure, use the default value.

config ENABLE_MODULE_HW736 
	bool "enable module HW736"
	default y
	---help---
    enable modem module HW736
	
config ENABLE_MODULE_H350
	bool "enable module H350"
	default y
	---help---
    enable modem module H350