#
# X86 Platform Specific Drivers
#
config GPIO_INTEL_MSIC
	bool "Intel MSIC GPIO support"
	depends on INTEL_SCU_IPC && GPIOLIB
	---help---
	  MSIC provides a GPIO subsystem containing several input
	  output pins.
	  Say Y here to support GPIO via the SCU IPC interface
	  on Intel MID platforms.

config INTEL_MID_OSNIB_ILB
        tristate "cmos osnib driver for Intel BYT platforms"
        default n
        ---help---
			This driver adds OSNIB support using CMOS.
			OSNIB is used to share flags between firmware and kernel.
			This is only valid when no SCU is present.

			If unsure, say N.